table {
    width: 1000px;
    height: 500px;
    margin: auto;
}

table, tr, td {
    border: 1px solid #b82970;
    border-collapse: collapse;
}
.bg-color {
    color: #FFF;
    background-color: #FF0000;
    text-align: end;
    font-weight: bold;
    font-size: 20px;
}
.image {
    width:160px;
    height: 250px;
    margin: auto;
}
.image img {
    width:100%;
    height: 100%;
}
.bg-red {
    color: #FF0000;
    background-color: #FFBBBB;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.color-text {
    color: #FF0000;
    font-weight: bold;
    font-size: 18px;
}
span {
    font-weight: bold;
    font-style: italic;
}